.car-filter-container {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  min-width: 256px;
}

.filter-form {
  position: fixed;
  left: 1rem;
  width: calc(20% - 2rem);
  min-width: 200px;
}

.filter-options {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.filter-options label {
  width: 5rem;
}

.filter-options label {
  /* width: 2.5rem; */
  margin: 0 0.5rem;
}

.filter-options select {
  width: 5rem;
}

.submitButton {
  align-items: center;
  text-align: center;
  width: 11.7rem;
}

.submitButton:hover {
  background-color: orange;
}