.chatbox-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  height: 20rem;
  width: 24rem;
  background-color: #ccc;
  text-align: center;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.chat-window {
  padding: 1rem;
  width: 100%;
  height: calc(100% - 2.8rem);
  overflow: scroll;
  scrollbar-width: none;
}

.chat-window a {
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

.chat-window a:hover,
.chat-window a:active {
  color: #4d4ddd;
}

.chat-bar {
  text-align: right;
  background-color: #4d4ddd;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.chat-bar__title {
  padding-left: 0.5rem;
  color: white;
  flex: 1;
  text-align: left;
}

.chat-bar__title span {
  margin-left: 0.3rem;
}

.chat-bar button {
  border: none;
}

.chat-bar button svg {
  transition: all 0.1s;
}

.chat-bar button svg:hover {
  transform: scale(1.1);
}
