.banner {
  position: relative;
  height: 75vh;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  opacity: 0;
  animation: fadeEffect 75s infinite;
}

 @keyframes fadeEffect {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1; }
  }

/* Animation delays to stagger the fade-ins */
.banner {
  @for $i from 1 through 5 {
    div:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 15s;
    }
  }
}
